<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Фильмы</title>
</head>
<body>
<h1>Список фильмов</h1>
<a href="/">Главная</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Описание</th>
        <th>Год</th>
        <th>Жанры</th>
        <th>Актеры</th>
        <th>Действия</th>
    </tr>
    <tr th:each="film : ${films}">
        <td th:text="${film.id}"></td>
        <td th:text="${film.title}"></td>
        <td th:text="${film.description}"></td>
        <td th:text="${film.releaseYear}"></td>
        <td>
    <span th:each="genre : ${film.genres}"
          th:text="${genre.name + ' '}">
    </span>
        </td>
        <td>
    <span th:each="actor : ${film.actors}"
          th:text="${actor.firstName + ' ' + actor.lastName + '  '}">
    </span>
        </td>
        <td>
            <form th:action="@{'/films/delete/' + ${film.id}}" method="post" style="display:inline">
                <button type="submit">Удалить</button>
            </form>
            <a th:href="@{'/films/edit/' + ${film.id}}">Изменить</a>
        </td>

    </tr>
</table>

<h2>Добавить фильм</h2>
<form th:action="@{/films/add}" th:object="${film}" method="post">

    <input type="text" th:field="*{title}" placeholder="Название"/>

    <input type="text" th:field="*{description}" placeholder="Описание"/>

    <input type="number" th:field="*{releaseYear}" placeholder="Год"/>

    <label>Жанры:</label>
    <select name="genreIds" multiple>
        <option th:each="genre : ${allGenres}"
                th:value="${genre.id}"
                th:text="${genre.name}">
        </option>
    </select>

    <label>Актёры:</label>
    <select name="actorIds" multiple>
        <option th:each="actor : ${allActors}"
                th:value="${actor.id}"
                th:text="${actor.firstName + ' ' + actor.lastName}">
        </option>
    </select>

    <button type="submit">Добавить</button>
</form>


</body>
</html>
